.ant-carousel .slick-slide {
   text-align: center;
   height: 400px;
   overflow: hidden;
 }
 
 .ant-carousel .slick-slide h3 {
   color: #fff;
 }

 .carouseBox{
    margin: 10px 0;
 }
 .carouselImg img{
   width: 50%;
   margin: 0 auto;
 }